:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

a {
   font-weight: 500;
   color: #646cff;
   text-decoration: inherit;
}
a:hover {
   color: #535bf2;
}

body {
   margin: 0;
   display: flex;
   min-width: 320px;
   min-height: 100vh;
   overscroll-behavior: none;
   overflow-y: hidden;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
}
button:hover {
   border-color: #646cff;
}
button:focus,
button:focus-visible {
   outline: 4px auto -webkit-focus-ring-color;
}

#info-here {
   position: absolute;
   width: 300px;
   background: #000;
   padding: 1rem;
   top: 0;
   z-index: 333;
}

.info-centered {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   background: rgba(255, 255, 255, 0.7);
   color: #000;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(255, 255, 255, 0.3);
   padding: 0.2rem 0.5rem;
   font-size: 12px;
}

.debg-info {
   position: absolute;
   top: 100px;
   font-size: 1rem;
   left: 0;
   background: #fff;
   z-index: 4;
   color: #000;
   padding: 0.5rem;
}
